{% extends 'base.html' %}

{% block content %}

<div class="container">

<H1 align="center" style="font-size: 50px; color:rgb(0, 0, 0); text-decoration: underline;">
    Your Orders
  </H1>
  <H2>&nbsp;
  
  </H2>

<table style='text-align: center;' class="table table-dark table-striped">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ID</th>
          <th scope="col">Status</th>
          <th scope="col">Price</th>
          <th scope="col">Offered by</th>
          <th scope="col">Update</th>
          <th scope="col">Remove</th>
        </tr>
      </thead>
      <tbody>
        {% for item in orders %}
        {% if request.user.id == item.customer_id  %}
        <tr>
          <th scope="row">{{ item.id }}</th>
            <td>{{ item.wishlist_item }}</td>
            <td>{{ item.status }}</td>
            <td>{{ item.wishlist_item.price }}</td>
            <td>{{ item.wishlist_item.creator }}</td>
            <td>
              <a class="btn btn-sm btn-info" href="{% url 'update_order' item.id %}">Update</a>
            </td>
            <td> 
              <a class="btn btn-sm btn-danger" href="">Remove</a>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
</table>

<div align="center">
  <a class="btn btn-primary" style ="height: 45px;  border-radius: 20px; border: 3px solid #000000;" href="/products/create_order" class="btn btn-primary" type="button">Create new order</a>
</div>

</div>

{% endblock %}