{% extends 'base.html' %}

{% block content %}

<H1 align="center" style="font-size: 70px; color:rgb(51, 51, 51); text-decoration: underline;">
    Your Orders
  </H1>
  <H2>&nbsp;
    <br> &nbsp;
    <br> &nbsp;
  </H2>

<table style='text-align: center;' class="table table-dark table-striped">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ID</th>
          <th scope="col">Status</th>
          <th scope="col">Update</th>
          <th scope="col">Remove</th>
        </tr>
      </thead>
      <tbody>
        {% for item in orders %}
        {% if request.user.id == item.customer_id  %}
        <tr>
          <th scope="row">{{ item.id }}</th>
            <td>{{ item.wishlist_item }}</td>
            <td>{{ item.status }}</td>
            <td>
              <a class="btn btn-sm btn-info" href="{% url 'update_order' item.id %}">Update</a>
            </td>
            <td> 
              <a class="btn btn-sm btn-danger" href="">Remove</a>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
</table>

<div align="center">
  <a style ="height: 45px; opacity:0.9; border-radius: 25px; border: 2px solid #d1d1d1;" href="/products/create_order" class="btn btn-primary" type="button">Create new order</a>
</div>


{% endblock %}