<nav style = 'position: fixed; width:100%;' class="navbar navbar-expand-lg navbar-dark bg-black" >
    <div class="container-fluid">
      <a style="font-size: 30px; margin-right: 20px; color:white" class="navbar-brand" href="/../home">MyPyDome</a>
      <button style = "color:rgb(196, 204, 250)" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a style="font-size: 20px; margin-right: 13px; color:white" class="nav-link active" aria-current="page" href="/../home">Home</a>
          </li>

          <!-- {% if request.user.is_superuser == 1  %}
          <li class="nav-item">
            <a style="font-size: 20px; margin-right: 13px; color:white" class="nav-link" href="/products/">Products</a>
          </li>
          {% endif %} -->
          
          {% if request.user.is_staff == 0  or request.user.is_superuser == 1 %}
            <li>
              <a style="font-size: 20px; margin-right: 13px; color:white" class="nav-link active" aria-current="page"  href="/products/products/">Products For Sale</a>
            </li>
          {% endif %}
          <li class="nav-item dropdown">
            <a style="font-size: 20px; margin-right: 13px; color:rgb(253, 253, 253)" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Profile
            </a>
            <ul class="dropdown-menu" style = "background-color:rgb(226, 220, 220);" aria-labelledby="navbarDropdown">
              <li><a style="color:rgb(0, 0, 0);"class="dropdown-item" href="/products/profile/">Account Info</a></li>
              {% if request.user.is_staff == 1  %}
                <li><a style="color:rgb(0, 0, 0);" class="dropdown-item" href="/products/wishlist/">My Dashboard</a></li>
              {% endif %}

              {% if request.user.is_staff == 0  or request.user.is_superuser == 1 %}
              <li><a style="color:rgb(0, 0, 0);" class="dropdown-item" href="/products/orders/">My Orders</a></li>
              {% endif %}
              <li><hr class="dropdown-divider"></li>
              <li><a style="color:rgb(0, 0, 0);" class="dropdown-item" href="/products/contact_form">Contact Us</a></li>
            </ul>
          </li>
          {% if request.user.username == 'admin'  %}
          <li class="nav-item">
            <a style = "text-decoration: underline; color:white; font-size: 20px;"class="nav-link" href="/admin" tabindex="-1">Admin Tab</a>
          </li>
          {% endif %}
        </ul>

       
        <span style="font-size: 20px; color:white" id="greet"></span>
        <script>
          const time = new Date().getHours();
          let greeting;
          if (time < 12) {
            greeting = "Good morning";
          } else if (time < 18) {
            greeting = "Good afternoon";
          } else {
            greeting = "Good evening";
          }
          document.getElementById("greet").innerHTML = greeting;
          </script>

        <span style="font-size: 20px; margin-right: 20px; color:white">, {{request.user}}</span>
        <span><a style="margin-right: 20px; color:white" href="/accounts/logout">Logout</a></span>
      </div>
    </div>
  </nav>